name: "Pull Request Tasks"

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions: {}

jobs:
  common-pull-request-tasks:
    name: Common Pull Request Tasks
    permissions:
      pull-requests: write
    uses: JackPlowman/reusable-workflows/.github/workflows/common-pull-request-tasks.yml@4105a10d43925314414dc63b2b5c96137d2895fb # v2026.01.10.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
